.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently 
  supported by Chrome, Edge, Opera and Firefox */
}

:root {
  --cell-dimension: 270px;
  --cell-color: #d94848;
  --window-color: #d94848;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid teal; */
}

nav h2 {
  margin: 0px 20px;
  font-family: "Bangers", cursive;
  letter-spacing: 2.3px;
  font-size: 50px;
  text-shadow: 3px 0.5px rgba(0, 0, 0, 0.5);
  color: #f25270;
}

nav .button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #73d99f;
  text-align: center;
  color: #51548c;
}

nav .button:hover {
  background-size: 200%;
  background-position: left;
  background: #ee74e1;
  color: #3eecac;
}

#ttt-grid-container {
  margin-top: 10px;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(3, var(--cell-dimension));
  grid-template-rows: repeat(3, var(--cell-dimension));
  gap: 10px;
}

.grid-cell {
  background-color: #46a68b;
  color: #f25270;
  text-shadow: 3px 0.5px rgba(0, 0, 0, 0.5);
  font-family: "Permanent Marker", cursive;
  font-size: 231px;
  text-align: center;
  line-height: var(--cell-dimension);
}

.grid-cell:hover {
  cursor: pointer;
  opacity: 0.8;
}

.won-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.won-overlay .won-window {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  width: 300px;
  height: 300px;
  background: var(--window-color);
  text-align: center;
  border-radius: 3rem;
  color: white;
}

.won-overlay .won-window h3 {
  padding-top: 15px;
  font-size: 50px;
  font-family: "Bangers", cursive;
  letter-spacing: 2.3px;
  text-shadow: 2px 3px #000;
}

.won-overlay .won-window p {
  padding: 0px 20px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

.won-overlay .won-window .button {
  margin-top: 50px;
  background: #73d99f;
  color: #51548c;
}

.won-overlay .won-window .button:hover {
  background-size: 200%;
  background-position: left;
  background: #ee74e1;
  color: #3eecac;
}

.button {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: none;
  letter-spacing: 0.05em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  transition: 330ms ease-out;
}
